body{
    /* background: #f0e4ce;  */
    /* background: linear-gradient(-190deg, rgb(20,250,24), rgb(101, 90, 148)); */
    /* background: radial-gradient(circle, red, blue, green); */
   
    background-size: cover;
    font-family: sans-serif;
}
.nav-bar{
    margin-left:50px ;
    margin-right: 60px;
    display: inline-block;
    align-items: center;
}
.nav-bar a{
    text-decoration: none;
    color: black; 
}
.nav-bar li:first-child{
    float: left;
    color: black;
    float: left;
}
.nav-bar li{
    text-decoration: none;
    color: black;
    display: inline;
    padding: 20px;
    float: right;    
}
.container{
    margin: 20px;
    color: black;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    border: 1px solid;
    
}
.intro{
    padding: 20px;
    margin: 20px;
    border: 1px solid;

    width: 70%;

}
.intro h2{
    display: flex;
    justify-content: flex-start;
    padding-left: 50px;
    
}
.intro h3{
    display: flex;
    justify-content: flex-start;
    padding: 50px;
    font-size: 40px;
    
}
.content{
    margin-top: 40px;
    display: flex;
}

.image{
    width: 500px;
    height: 500px;
    padding-top: 50px;
    /* margin-right: 30%; */
}
.button{
    margin-left: 50px;
    
    font-size: 20px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.business{
    border: 1px solid;
    padding: 20px;
    margin: 20px;
}
.form{
    border: 1px solid;
    margin: 20px;
    padding: 20px;
    flex-direction: column;
    
}

.inputs{
    flex-direction: row;
    border: 1px solid;
    padding: 20px;
    float: right;
}
